body {
    background-color: #00ffc8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  h1{
    color: #1e706b;
  }

  h2 {
    color: #fa0505;
  }
  
  p{
    color: #fa5705;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  ul {
  
    border-bottom: 2px solid #0c478a;
  }