body {
    background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI'
  
  }
  
  h2{
    color: greenyellow;
  }
  
  b{
    color: #5d9ee8;
    font-size: 30px;
    text-transform: uppercase;
  }
  h1{
    color: aqua;
  }