body{

background-color: aqua;

}

h1 {
    color: 36fff5;
    font-family: Georgia, 'Times New Roman', Times, serif;


h2 {

    
 font-size: height: font-weight: font-weight: opacity: ;;;;
}

p {

    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: chartreuse;
}

marquee {

size: 4cm;

}
    