body{

background-color: aqua;

}
h1 {
    color: 36fff5;
    font-family: Georgia, 'Times New Roman', Times, serif;


h2 {

    
font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

p {

    font-family: Georgia, 'Times New Roman', Times, serif;

    color: blue;
}

marquee {

size: 4cm;

}
    