body {
    background-color:#347aec ;

}     
h1{
    background-color: burlywood;
    color:red;
} 
marquee {
background-color: white;

font-size: 7500;
 }
 marquee{
     font-size: 10mm;
     color: red;
 }