body{
    background-color: #abdeda;
    color: #1d524d;
    font-family: 'Times New Roman', Times, serif
}

h1{
    color: #407f87;
}

h2{
    background-color: #29638a;
    color: brown;
}

.something{
    background-color: cadetblue;
    color: #9c922d;
}


