body{
    background-color: #ebeca8;
}


h1{
    color: #407f87;
}

h2{
    background-color: #29638a;
    color: brown;
}

p{
    color: coral;
}

.something{
    background-color: cadetblue;
    color: #9c922d;
}

.halo{
    background-color: bisque;
}

