body {
    background-color: #aaccf2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  h2{
    color: #656965;
  }
  
  b{
    color: #5d9ee8;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  ul {
  
    border-bottom: 2px solid #0c478a;
  }
  

  p{
    color: red;
  }

  i{
    color:#09bdbd
  }