body{ 
  background-color: #033d99;
}
h2{
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifss;
}
p{
color: #8cc0f5;
}
h1{
   color:#bce3df ;
}
marquee{
   color: #bce3df;
   font-size: 25px;
}
p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
}
i{
   color:white;
   font-size: 72px;
   
}
