body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
  
  p{
    color: #ffffff;
  }
  
  b{
    color: #5ed4ff;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  p {
  
    border-bottom: 2px solid #fafcfc;
  }

  p {
  
    border-top: 2px solid #fafcfc;
  }

ul {
  
    color: #fafcfc;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1{
    color: #ffffff;
  }

  marquee{
    color: #ffffff;
  }

  .sports {

    border:none;
  }

  .friends {
    border-top: 2px solid #fafcfc;
    border-bottom: 2px solid #fafcfc;
  }

  .bi-playstation {
    font-size: 70px;
    color: #ffffff;
  }