h1{
   color:#3f5d8f      
}
body{
    background-color:#b6f2c6
}
h2{
    color: darksalmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9fe3b1;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
marquee{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9ab5a1
}

