h3{
    color: #3abd8d;
}
h2{
    color: bisque;
}
h3{
    color: #52d649;
}
p{
    color: #4bd1c8;
}
p{ 
    background-color: moccasin;
}
i{ 
    color: navy;
}
h4{
    background-color: lightblue;
} 
p{
    color: #32a65e;
}  
i{ 
    color: navy;
}   
i{
    font-size: medium;
}
i{
    font-size: medium;