h1{
   color:#3f5d8f      
}
body{
    background-color:#b6f2c6
}
h2{
    color:#b386b5
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a2deb2
}
